.App {
  text-align: center;
}

.geneProcesser {
  display: grid;
  grid-gap: 10px;
  width: 1200px;
  margin: auto;
  padding-top: 20px;
}

.query {
  grid-area: query;
}

.search {
  grid-area: search;
  text-align: left!important;
}

.geneProcesser {
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-areas:
    'search search search query'
}

.file-uploader {
  display: grid;  
  grid-gap: 10px;
  width: 1200px;
  margin: auto;
  padding-top: 20px;
}

.dir-contents {
  grid-area: dirc;
  padding-bottom: 20px;
  text-align: left;
}

.clear-dir {
  grid-area: cdir;
  padding-bottom: 20px;  
  text-align: left;
}

.files {
  grid-area: fil;
  height: 50px;
}

.input-files {
  grid-area: input;
}

.uploaded-sequence {
  grid-area: upld;
}

.file-uploader {
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-areas: 
  'fil fil fil fil'
  'dirc dirc dirc dirc'
  'cdir cdir cdir cdir'
  'input upld upld upld'
}

.smith-waterman {
  height: -webkit-fill-available;
  background-image: url('genetics_background_2.png');
  background-position: cover;
}

.bttn {
  background: transparent;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
