.background {
    height: stretch;
    background: linear-gradient(
      rgba(255, 255, 255, 0.50), 
      rgba(255, 255, 255, 0.50)),
      url("genetics_background_2.png");
    background-position: cover;
  }

  .buttn {
    background: transparent;
    height: 36px;
    font-weight: bold;
    font-size: 16px;
    color: #555555;
  }
  
  .indexing {
    grid-area: indx;
  }

  .querying {
    grid-area: qury;
  }

  .indexing-querying {
    display: grid;  
    grid-gap: 10px;
    width: 1200px;
    margin: auto;
    padding-top: 120px;
    text-align: left;
    padding-left: 100px;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-areas:
    'indx indx indx indx indx qury qury qury'
  }

  .loader {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #3497DB; /* Blue */
    border-radius: 50%;
    width: 18px;
    height: 18px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


